[Desktop Entry]
Version=1.0
Name=jnXssh
Exec=jnXssh
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=gnome-network-properties
Categories=GNOME;GTK;Network;
X-Desktop-File-Install-Version=0.20
